html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    
    -webkit-text-size-adjust: 100%;
    
}

/* Remove default margin. */

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
        /* Makes browsers don't play audio w/out controls */
audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

        /* Links */
a {
    background-color: transparent;
}